*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/*/build
/.idea/caches/
/.idea/misc.xml
/app/release/
/app/src/main/res/values/credentials.xml

.idea/misc.xml
*.log
