<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.aakumykov.me.mvp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".login.LoginView" />

        <activity android:name=".cards_list_av.CardsList_View" />

        <activity
            android:name=".card_show.CardShow_View"
            android:parentActivityName=".cards_list_av.CardsList_View" />

        <activity android:name=".card_edit.CardEdit_View">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.CardsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.AuthService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".users.list.UsersList_View" />

        <activity
            android:name=".users.show.UserShow_View"
            android:parentActivityName=".users.list.UsersList_View" />

        <activity android:name=".users.edit.UserEdit_View" />

        <activity android:name=".tags.list.TagsList_View" />

        <activity android:name=".tags.view.TagShow_View"
            android:parentActivityName=".tags.list.TagsList_View" />

        <activity android:name=".register.Register_View" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>